#nav{
    background-image: url('https://www.klikindomaret.com/Assets/image/header/bg_header.png'); 
    background-size: cover;
}

#search_navbar{
    height: 30px;
    width: 520px;
    border-radius: 10px;
    border: 0px solid black;
    padding: 0px 20px;
}

#searchbtn_navbar{
    padding: 0px !important;
    margin-left: -25px;
}
